body {
    margin: 0;
    overflow-x: hidden;
    font-size: 1rem;

}

.background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: url(../img/wine-corks-medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
}

.container-fluid {
    position: relative;
    z-index: 1;
}

.bg-purple {
    background-color: rgba(62, 64, 91, 255);
    color: white;
}

.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: #e7e7e7f3
}

.pourer-link,
.pourer-link:hover,
.pourer-link:visited,
.pourer-link:focus {
    color: black;
    text-decoration: none;
}

.full-height {
    height: 100vh;
}

.full-width {
    width: 100vw;
}

#home {
    /* background-color: rgba(62,64,91,.01); */
    backdrop-filter: blur(1px);
}

#home .jumbotron {
    /* margin-top: 6rem; */
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: transparent;
    z-index: 2;
}

#home .row {
    margin-top: 40px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(62, 64, 91, 255);
    margin: 1em 0;
    padding: 0;
    background-color: rgba(62, 64, 91, 255);

}

.center-image {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.home-logo {
    vertical-align: middle;
}

.home-logo-top,
.home-logo-bottom {
    height: 16vh;
}

img.img-fluid {
    max-height: 67vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-around;
}

.mco-bio {
    background-color: rgba(62, 64, 91, .9);
    color: white;
    position: absolute;
    bottom: 76px;
    height: 0;
    transition: .6s ease;
    overflow: hidden;
    min-width: 400px;
    /* padding: 10px; */
}

.mco-card {
    margin-top: 3rem;
}

.mco-card:hover .mco-bio,
.mco-card:active .mco-bio {
    height: 400px;
    padding: 10px;
    overflow-y: scroll;
}

.mco-heading {
    margin-top: 80px;
}

.mco-info {
    margin-top: 2px;
}

.mco-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(62, 64, 91, .6);
    background-color: rgba(62, 64, 91, 0.356);
}

.mco-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(62, 64, 91, .60);
}

.mco-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(54, 22, 58);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .6);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .9);
}

.nav-link {
    font-size: 1.5rem;
}

@media (max-width: 650px) {
    #home .jumbotron {
        width: auto;
        height: auto;
        margin-right: 15px;
    }
}

@media (max-width: 768px) {
    .background {
        background-attachment: scroll;
        background-size: 250%;
        background-position: center top;
        min-height: 100%;
        height: auto;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
}

@media (max-width: 768px) {
    .navbar-text .btn-outline-light {
        margin-bottom: 0.5rem;
    }
}

.navbar-text .btn-outline-light {
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.3s ease;
    padding: 0.375rem 1rem;
}

.navbar-text .btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 0.3);
}