body {
    font-family: 'Palatino Linotype';
    font-size: 18px;
    font-weight: 500;
    /*line-height: 1.428571429;*/
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
}
h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
img.logo,
div.img-responsive.logo {
    background-color: rgba(90, 37, 97, 0.75);
    top: 30%;
    padding: 30px;
    min-width: 440px;
    border-radius: 30px;
    width: 740px;
    color:#d4ccdb;
    font: 70 130px/0.8 'Sacramento', Helvetica, sans-serif;
    margin: auto;
    padding-top: 5vh;
    display: block;
    height: auto;
    max-width: 100%;
    position: relative;
}
.navbar {
    color: #ffffff;
    background-color: rgba(90, 37, 97, 1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-brand {
    /* float: left; */
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
    font-style: italic;
    margin: 0px;
}
.navbar-brand > small {
    font-size: 10px;
}

.navbar-header {
    float: left;
    /* position: fixed; */
    /* left: 20px; */
}
.navbar-nav {
    margin: 0;
}
.navbar-nav > li {
    float: left;
    position: relative;
}
.navbar-nav > li > a {
    padding: 15px 15px;
    line-height: 20px;
}
.navbar-nav > li > a,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:visited,
.navbar-brand {
    color: white;
    background-color: transparent;
    margin: 10px;
    text-decoration: none;
    display: block;
}
.navbar-nav > li > .active {
    padding-bottom: 5px;
    border-bottom: 3px solid white;
}
.nav > li {
    display: inline;
}
.slide {
    position: fixed;
    left: -100vw;
    height: 100vh;
    width: 100%;
    /*background-size: cover;
    background-position: top;
    background-attachment: fixed;*/
    /* overflow: hidden; */
}
.slide.current {
    left: 0;
}
.slide.image {
    z-index: 100;
}
.background {
    position: absolute;
    margin-top: 40px;
    height: 60vh;
    width: 100vw;
    background-size: cover;
    background-position: top;
    /*background-attachment: fixed;*/
}

.logo > .background {
    background-image: url(../img/wine-corks-medium.jpg);
}

.slide.logo > .background {
    height: 100vh;
}
.slide > .text {
    color: black;
    background-color: rgb(255, 255, 255);
    margin-top: 60vh;
    height: 40vh;
    width: 100%;
    position: relative;
}

.slide.logo > .text {
    position: absolute;
    bottom: 0;
    height: auto;
}

.slide > .text > .container {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    position: relative;
}

.scroll-y { 
    overflow-y: auto; 
    overflow-x: hidden;
}

#pcontent, #pnav {
    height: 57vh;
}

.text-center {
    text-align: center;
}
ul {
    list-style-type: none;
    margin-top: 0px;
}
.text ul > li,
.text ul > li > a,
.text ul > li > a:hover,
.text ul > li > a:focus,
.text ul > li > a:visited {
    color: black;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}

.text ul > li > a.active {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .about > .background{
        background-image: url(../img/wagenmann-family-1-1440.jpg);
    }
    .pourers > .background {
        background-image: url(../img/many-bottles-1440.jpg);
    }
}
@media only screen and (max-width: 767px) {
    .slide > .text {
        height: 100vh;
        margin-top: 70px;
    }
    .slide.logo > .text {
        height: auto;
    }
    
    #pcontent, #pnav {
        height: 80vh;
    }
}
